doctype html
mixin good-item(activity, checked, id, ingredien, portion, giftNum, giftText, weight, textSelected)
	.good-item
		.good-item__wrap
			input.good-item__input(disabled=activity checked=checked type='checkbox' id=id name=id)
			label.good-item__label(for=id)
				p.good-item__category Сказочное заморское яство
				p.good-item__title Нямушка</br>
				p.good-item__ingredien с #{ingredien}
				.good-item__description
					p #{portion} 
						span порций
					p #{giftNum} 
						span #{giftText}
				p.good-item__weight 
					span.good-item__weight-num #{weight}
					</br>
					span.good-item__weight-kg кг
			p.good-item__subtitle.good-item__subtitle--default Чего сидишь? Порадуй котэ 
				a.good-item__link(href='#') купи.
			p.good-item__subtitle.good-item__subtitle--disabled.hidden Печалька, c #{ingredien} закончился.
			p.good-item__subtitle.good-item__subtitle--selected.hidden #{textSelected} 

